*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  place-items: center;
  display: grid;
  background-color: gray;
}

.container{
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.container h2{
  margin-bottom: 10px;
}

.container input{
  border-radius: 3px;
  outline: none;
  height: 40px;
  font-size: 1 rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.btns button{
  margin-right: 7px;
  font-size: 1rem;
  padding: 8px 17px;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: capitalize;
  color: white;
  background-color: 
  transparent;
  cursor: pointer;
  opacity: .6;
  transition-duration: 500ms;
}


.btns button:first-child{
  background-color: green;

}

.btns button:last-child{
  background-color: blue;
}


.btns button:hover{
  opacity: 1;
}
